*{
    box-sizing: border-box;
}

#main{
    margin: 70px 70px 0;
    padding-top: 6px;
    text-align: center;
    
}

img{
    width: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

p{
    font-size: 1.5rem;
}