*{
    box-sizing: border-box;
    font-family: Tahoma, Geneva, sans-serif;
}

.content {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('/image/aircraftSectionBackground.jpg');
    height: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    
}
  
.middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-size: 25px;
}
  
hr {
    margin: auto;
    width: 40%;
}

@media screen and (max-width: 700px){    
    .content{
        background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("/image/aircraftSectionBackground2.jpg");
    }
}