body, html{
    height: 100%;
    margin: 0;
    box-sizing: border-box;
}

/*Navigation Menu*/
nav {
    background-color: #393E41;
    z-index: 9999;      /*Navigation Menu always on the front*/
    /*top fixed menu*/
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /*top fixed menu*/
}

#logo {
    float: left;
    width: 50px;
}

#navLink{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#navLink a{
    float: left;
    color: white;
    text-align: center;
    padding: 24px 16px;
    text-decoration: none;
    font-size: 17px;   
}

.dropdown{
    float: left;
    overflow: hidden;
}

.dropDownButton{
    border: none;
    outline: none;
    font-size: 17px;
    padding: 24px 16px;
    background-color: inherit;
    color: white;
    font-family: inherit;       /* Important for vertical align on mobile phones */
    margin: 0;                  /* Important for vertical align on mobile phones */
}

/* set the contents to be hidden by default*/
.dropDownContents{
    display: none;
    position: absolute;
    background-color: #393E41;
    z-index: 1;
}
/* set the contents to be hidden by default*/

.dropDownContents a {
    float: none;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
}

.dropdown:hover .dropDownContents {
    display: block;
}

#navLink a:hover:not(.active), .dropdown:hover:not(.active), .dropDownButton:hover:not(.active){
    background-color: #868686;
}

.active {
    background-color: #868686;
}
/*Navigation Menu*/

/*Footer*/
footer{
    width: 100%;
    background-color: #393e41e1;
    color: #ffffffb9;
    text-align: center;
    font-size: 20px;
    padding-bottom: 5px;
}

.footerColumn{
    float: left;
    width: 25%;     /*set to four column design*/
}

.footerColumn a{
    text-decoration: none;
    color: #ffffffb9;
}

.footerColumn a:hover{
    text-decoration: underline;
    color: #FFFFFF;
}

/* Clear floats after the columns */
#footerMenu:after{
    content: "";
    display: table;
    clear: both;
}
/*Footer*/