#main{
    visibility: hidden;
}

.loader {
    margin: -75px 0 0 -75px;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 120px;
    height: 120px;
    z-index: 9999;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid rgb(128, 125, 125); 
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }

/*nav override*/
#navLink a:hover{
    cursor: pointer;
}
/*nav override*/

/*Main Section*/
.section{
    position: relative;
    /*full background and responsive image*/
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /*full background and responsive image*/
}

.content{
    position: absolute;
    padding-bottom: 30px;
    bottom: 0;
    text-align: center;
    width: 100%;
    color: white;
    background-color: rgba(0,0,0,0.5);
    font-size: 20px;
}

.content a{
    height: 80px;
    color: white;
    text-decoration: none;
}

.content a:hover{
    color: rgb(139, 136, 136);
}

#greetingSection{
    background-image: url(".././image/introSectionBackground.jpg");
}

#portfolioSection{
    background-image: url(".././image/portfolioSectionBackground.jpg");
}

#aircraftGallery{
    background-image: url("../image/aircraftSectionBackground.JPG");
}

#travelGallery{
    background-image: url("../image/travelSectionBackground.jpg");
}

#photographyGallery{
    background-image: url("../image/photographySectionBackground.JPG");
}

.slides{
    display: none;
}

.arrow{
    cursor: pointer;
    position: absolute;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.prev, .next {
    
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
}
  
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

.up:hover, .down:hover{
    color: rgb(128, 125, 125);
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
  
.dotActive, .dot:hover {
    background-color: #717171;
}

.photosindicator{
    position: absolute;
    text-align: center;
    width: 100%;
    padding-top: 80px;
    z-index: 1;
}

.fadeIn {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1s;
}
/*Main Section*/

/*keyframes*/
@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
/*keyframes*/