*{
    box-sizing: border-box;
}

/*Main Section*/
#portfolio{
    margin-top: 70px;
    padding: 4px 0px 10px 10px;
    font-size: 1.25em;
    color: rgb(61, 59, 59);
}

/*Two Unequal Column Card*/
.row{
    margin: 8px 10px;
}

.row:after{
    content: "";
    clear: both;
    display: table;
}

.column{ 
    padding: 0 10px;
}

.leftColumn{
    float: left;
    width: 25%;    
}

.rightColumn{
    float: left;
    width: 75%;
}

.card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 15px 0 24px;
    padding: 16px;
    background-color: #f1f1f1;
}
/*Two Unequal Column Card*/

#portfolio header{
    text-align: center;
}

#portfolio a{
    color: rgb(121, 119, 119);
    text-decoration: none;
}

#portfolio a:hover{
    color: rgb(94, 91, 91);
    text-decoration: underline;
}

#introduction img{
    padding: 20px;
    width: 100%;
}

caption, th{
    text-align: left;
}

td:nth-child(even), th:nth-child(2){
    padding-left: 30px;
}

tr:nth-child(even) :nth-child(2){
    font-weight: bold;
}

/*Hide Vertical Timeline*/
.verticalTimeline{
    display: none;
}
/*Hide Vertical Timeline*/

/*Horizontal Timeline*/ 
.horizontalTimeline ol{
    font-size: 0;
    padding: 160px 0 120px;
    white-space: nowrap;
    text-align: center;
}

/*Timeline*/
.horizontalTimeline ol li{   
    position: relative;
    display: inline-block;
    list-style-type: none;
    height: 3px;
    background: rgb(172, 169, 169);
}
/*Timeline*/

/*Timeline Dot*/
.horizontalTimeline ol li::after{
    content: '';
    position: absolute;
    top: 50%;
    left: 16%;
    bottom: 0;
    width: 18px;
    height: 18px;
    transform: translateY(-50%);
    border-radius: 50%;
    background: #b8b7b7;
}
/*Timeline Dot*/

/*Text Container*/
.horizontalTimeline ol li div::before{
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 0;
    border-style: solid;
}

.horizontalTimeline ol li div{
    position: absolute;
    left: 22%;
    width: 95%;
    padding: 12px 6px;
    font-size: 1rem;
    text-align: left;
    white-space: normal;
    color: black;
    background: #dddcdc;
}

.horizontalTimeline ol li div:hover{
    cursor: pointer;
    box-shadow: 10px 10px 5px grey;
}

.horizontalTimeline time{
    display: block;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 8px;
}

.horizontalTimeline ol li:nth-child(odd) div::before{
    top: 100%;
    border-width: 8px 8px 0 0;
    border-color: #dddcdc transparent transparent transparent;
}

.horizontalTimeline ol li:nth-child(odd) div{
    top: -16px;
    transform: translateY(-100%);
}

.horizontalTimeline ol li:nth-child(even) div::before{
    top: -8px;
    border-width: 8px 0 0 8px;
    border-color: transparent transparent transparent #dddcdc;;
}

.horizontalTimeline ol li:nth-child(even) div{
    top: calc(100% + 16px);
}
/*Text Container*/
/*Horizontal Timeline*/

/*Modal Box*/
/* The Modal (background) */
.modal{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
  
/* Modal Content */
.descriptionModalContent{
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-height: 80%;
    overflow-y: auto;
    animation-name: zoomIn;
    animation-duration: 0.6s;
}
  
/* The Close Button */
.close{
    color: #aaaaaa;
    float: right;
    font-size: 2em;
    font-weight: bold;
}
  
.close:hover, .close:focus{
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.descriptionModalContent .projectTitle{
    margin: 0px;
}
/*Modal Box*/

#projectsSection img, #projectsSection video{
    width: 20%;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
/*Main Section*/

@keyframes zoomIn {
    from {transform: scale(0.1)} 
    to {transform: scale(1)}
}



@media screen and (max-width: 1300px){
    #introduction img{   
        width: 300px;
        float: right;
        padding: 20px;
    }

    #introductionContent{
        display: block;
        padding-top: 32px;
        font-size: 1.25em;
    }

    .clearFix{
        overflow: auto;
    }

    .leftColumn{
        float: none;
        width: 100%;    
    }
    
    .rightColumn{
        float: none;
        width: 100%;
    }

    #projectsSection img, #projectsSection video{
        width: 80%;
    }

}

@media screen and (max-width: 740px){
    .horizontalTimeline{
        display: none;
    }

    /* The actual timeline (the vertical ruler) */
    .verticalTimeline{
        position: relative;
        margin: 0 auto;
        padding-bottom: 16px;
        display: block;
    }

    /* The actual timeline (the vertical ruler) */
    .verticalTimeline::after{
        content: '';
        position: absolute;
        width: 6px;
        background-color: rgb(172, 169, 169);
        top: 0;
        bottom: 10px;
        left: 50%;
        margin-left: -3px;
    }

    /* Container around content */
    .container{
        
        position: relative;
        background-color: inherit;
        width: 50%;
    }

    /* The circles on the timeline */
    .container::after{
        content: '';
        position: absolute;
        width: 25px;
        height: 25px;
        right: -17px;
        background-color: white;
        border: 4px solid #b8b7b7;
        top: 15px;
        border-radius: 50%;
        z-index: 1;
    }

    /* Place the container to the left */
    .left{
        padding: 10px 40px 10px 0px;
        left: 0;
    }

    /* Place the container to the right */
    .right{
        padding: 10px 0px 10px 40px;
        left: 50%;
    }

    /* Add arrows to the left container (pointing right) */
    .left::before, .right::before{
        content: " ";
        height: 0;
        position: absolute;
        top: 22px;
        width: 0;
        z-index: 1;
        border: medium solid #b8b7b7;
    }

    .left::before{
        right: 30px;
        border-width: 10px 0 10px 10px;
        border-color: transparent transparent transparent #b8b7b7;
    }

    /* Add arrows to the right container (pointing left) */
    .right::before{
        left: 30px;
        border-width: 10px 10px 10px 0;
        border-color: transparent #b8b7b7 transparent transparent;
    }

    /* Fix the circle for containers on the right side */
    .right::after{
        left: -16px;
    }

    /* The actual content */
    .content{
        padding: 1px 7px;
        background-color: #dddcdc;
        position: relative;
        border-radius: 6px;
        font-size: 3.75vw;
    }

    .container.left .content:hover{
        cursor: pointer;
        box-shadow: -10px 10px 5px grey;
    }

    .container.right .content:hover{
        cursor: pointer;
        box-shadow: 10px 10px 5px grey;
    }

}

@media screen and (max-width: 570px){
    #introduction a{
        font-size: 5vw;
    }
    
    #introduction img{
        margin-left: auto;
        margin-right: auto;
        display: block;
        float: none;
        width: 70%;
        padding: 10px 0px;
    }

    #introductionContent{
        padding-top: 0px;
        font-size: 4vw;
    }

    section:not(projectsSection) *{
        font-size: 4vw;
    }

    #awardsSection *{
        font-size: 4vw;
    }

    .descriptionModalContent{
        font-size: 5vw;
    }
}
