* {
    box-sizing: border-box;
}

/*Main Section*/
#portfolio {
    padding: 70px 0px 10px 10px;
    font-size: 20px;
    color: rgb(61, 59, 59);
}

/*Two Unequal Column Card*/
.row {
    margin: 8px 10px;
}

.row:after {
    content: "";
    clear: both;
    display: table;
}

.column { 
    padding: 0 10px;
}

.leftColumn {
    float: left;
    width: 25%;    
}

.rightColumn {
    float: left;
    width: 75%;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 15px 0 24px;
    padding: 16px;
    background-color: #f1f1f1;
}
/*Two Unequal Column Card*/

#portfolio header{
    text-align: center;
}

#portfolio a{
    color: rgb(121, 119, 119);
    text-decoration: none;
}

#portfolio a:hover{
    color: rgb(94, 91, 91);
    text-decoration: underline;
}

#introduction img{
    padding: 20px;
    width: 100%;
    
}

caption, th{
    text-align: left;
}

td:nth-child(even), th:nth-child(2){
    padding-left: 30px;
}

/*Horizontal Timeline*/ 
.timeline ol {
    font-size: 0;
    padding: 160px 0 120px;
    white-space: nowrap;
    text-align: center;
}

/*Timeline*/
.timeline ol li {   
    position: relative;
    display: inline-block;
    list-style-type: none;
    height: 3px;
    background: rgb(172, 169, 169);
}
/*Timeline*/

/*Timeline Dot*/
.timeline ol li::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 16%;
    bottom: 0;
    width: 18px;
    height: 18px;
    transform: translateY(-50%);
    border-radius: 50%;
    background: #b8b7b7;
}

.timeline ol li.active::after{
    background-color: rgb(95, 94, 94);;
}
/*Timeline Dot*/

/*Text Container*/
.timeline ol li div::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 0;
    border-style: solid;
}

.timeline ol li div {
    position: absolute;
    left: 22%;
    width: 95%;
    padding: 12px 6px;
    font-size: 1rem;
    text-align: left;
    white-space: normal;
    color: black;
    background: white;
}

.timeline ol li div:hover {
    cursor: pointer;
    box-shadow: 10px 10px 5px grey;
}

.timeline time {
    display: block;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 8px;
}

.timeline ol li:nth-child(odd) div::before {
    top: 100%;
    border-width: 8px 8px 0 0;
    border-color: white transparent transparent transparent;
}

.timeline ol li:nth-child(odd) div {
    top: -16px;
    transform: translateY(-100%);
}

.timeline ol li:nth-child(even) div::before {
    top: -8px;
    border-width: 8px 0 0 8px;
    border-color: transparent transparent transparent white;
}

.timeline ol li:nth-child(even) div {
    top: calc(100% + 16px);
}
/*Text Container*/
/*Horizontal Timeline*/

/*Modal Box*/
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
  
/* Modal Content */
.descriptionModalContent {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-height: 80%;
    overflow-y: auto;
}
  
/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover, .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
/*Modal Box*/

.projects img, .projects video{
    width: 20%;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.projects img:hover, .projects video:hover{
    cursor: pointer;
    box-shadow: 0 32px 32px 0 rgba(0,0,0,0.24), 0 32px 48px 0 rgba(0,0,0,0.19);
}
/*Main Section*/

@media screen and (max-width: 600px) {
    .projects img, .projects video{
        width: 80%;
    }
}
