html {
  background-color: #ffff66;
}
/* Start of logo */
#logo{
  position: absolute;
  width: 150px;
  height: 150px;
  left: 50%;
}
#title {
  position: absolute;
  left: 48%;
  top: 40px;
  font-size: 30px;
  font-weight: bold;
  font-family: "Times New Roman";
  color: red;
  transform: rotate(350deg);
  animation: transform 5s infinite;
}

/* Chrome, Safari, Opera */

@keyframes transform {
    50% {transform: rotate(710deg);}
}

/* End of logo */

/* Start of Navigation Menu */
/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    left: 0;
}

/* Styling the dropdown logo */
.dropdown-logo {
  cursor: pointer;
  margin-top: 80px;
}

/* hide dropdown-content */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #FFFFFF;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;

}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;

}

/* Links inside the dropdown */
.dropdown-content a {
    font-family: fantasy;
    color: black;
    padding: 12px 16px;
    background-color: #ffff66;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #e6e600;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropdown-logo {
    background-color: #00ffff;
}

/* End of Navigation Menu */

/* Start of header */
.header {
  border: 4px solid grey;
  border-radius: 10px;
  background-color: #99ffff;
  width: 100%;
}

/* End of header */

table {
  margin: 0px auto;
}

.button {
  display: block; margin: 0 auto;
}

/* Start of footer */
footer {
  text-align: center;
  position: relative;
  clear: both;
  background-color: #99ffff;

}
/* End of footer */

/* Print form   */
@media print {
  .dropdown {
    display: none;
  }
  footer {
    display: none;
  }

  .header {
    border: 0px;

  }
  #logo{
    position: absolute;
    width: 100px;
    height: 100px;
    z-index: -1;
    left: 50%;
  }
  #title {
    position: absolute;
    left: 45%;
    top: 10px;
    font-size: 30px;
    font-weight: bold;
    font-family: fantasy;
    color: black;
    transform: rotate(350deg);
    animation: none 5s infinite;

  }
  #invoice {
    position: absolute;
    margin-top: 15%;
    left: 30%;
  }

  .button {
    display: none;
  }
}
/* Print form   */
