#home {
    margin-top: 1.5rem;
}

#photos {
    margin: 5rem 1rem;
}

#photos img {
    max-width: 500px;
    width: 100%; 
}

@media only screen and (max-width: 768px) {
    #photos img {
        margin: 2rem 0;
    }
    
}